*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --primary-green: rgba(102, 148, 74, 0.61);
  --primary-yellow: rgb(216, 172, 72);
  --light-grey: rgb(233, 233, 233);
  --olive-black: rgb(16, 23, 6);
  --bg-yellow: rgba(216, 172, 72, 0.35);
  --menu-font-size: 1.75rem;
  --title-font-size: 2.5rem;
  --title-font-size-smaller: 2.2rem;
  --medium-font-weight: 400;
  --shadow-item: 4px 4px 19px -3px rgba(53, 58, 48, 1);
}

body {
  font-family: "Libre Bodoni", serif;
  color: var(--olive-black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* img, */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}
/* ----------------- */

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-green);
  height: 100vh;
}

.header__group {
  display: flex;
  justify-content: space-between;
}

.header__btn__menu {
  padding: 0;
  background-color: transparent;
  border: none;
  height: 3.2rem;
  margin: auto 1rem auto 0;
}

.header__logo {
  padding: 0.9rem;
  max-width: 280px;
}

.header__nav {
  display: none;
}

.header__nav.active {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--menu-font-size);
  font-weight: var(--medium-font-weight);
}

.nav__link {
  font-size: 1.4rem;
  margin-bottom: 1.2em;
  transition: scale 0.6s;
}

.nav__link:hover,
.nav__link:focus {
  scale: 1.125;
}

.nav__link.btn:hover {
  scale: 1;
}

.nav__btn {
  font-family: "Libre Caslon Text", serif;
  letter-spacing: 1.2;
  font-size: 1rem;
  padding: 0.6rem 2.6rem;
  margin-bottom: 2.4rem;
  border-radius: 8px;
  background-color: var(--primary-yellow);
}

.nav__btn:hover {
  box-shadow: 5px 5px 9px -2px rgba(53, 58, 48, 1);
}

.header__img__container {
  width: 100%;
  height: 100%;
}

.header__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section {
  padding: 1.5%;
  width: 100%;
  background-color: var(--bg-yellow);
}

.section__container {
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section--bg-grey {
  background-color: var(--light-grey);
}

.section--bg-green {
  background-color: var(--primary-green);
}

.section__title {
  font-size: var(--title-font-size);
  font-weight: var(--medium-font-weight);
  padding-bottom: 1.6rem;
}

.section__title--smaller {
  font-size: var(--title-font-size-smaller);
}

.about-us {
  background-image: url(./assets/olive-branch.svg) no-repeat;
}

.section__contact__email {
  font-size: 8vw;
  font-style: italic;
}

.section_contact_img {
  height: 75vw;
  z-index: 0;
  position: absolute;
  left: 20vw;
}

.section__contact__container {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.section__contact__title {
  font-size: 6vw;
}

.section__img {
  flex-shrink: 0;
  margin: 0 -1rem;
  box-shadow: var(--shadow-item);
  border-radius: 8px;
}

.section__img--no-padding {
  padding: 0;
}

.section__location__img {
  height: 70vh;
}

.img__about-us {
  margin-bottom: 2rem;
}

.footer__ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.nav__link--footer {
  font-size: 1.2rem;
}

.nav__btn--footer {
  width: 100%;
  margin: 2rem auto;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__section__img {
  max-height: 32vh;
  opacity: 76%;
}

.footer__address {
  padding: 2rem 0 0 0;
  text-align: center;
  margin-bottom: 2rem;
}

.section__subscribe__container {
  margin: 2rem;
  gap: 2rem;
  background-color: rgb(253, 234, 189);
  border-radius: 18px;
  box-shadow: var(--shadow-item);
}

.section__img--dining {
  margin-bottom: 2rem;
}

.header__nav .book-table__nav {
  flex-direction: row;
}

.booking-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-container {
  margin: 1rem;
  display: grid;
}

.section__form {
  display: flex;
  align-items: end;
  height: 100%;
}

.header__form {
  padding: 1rem;
}

.form__olive-branch {
  position: absolute;
  top: -1rem;
  left: -1rem;
  height: 100%;
  z-index: -1;
}

.foot-note {
  margin: 0 auto;
  padding: 0;
  font-size: 0.7rem;
  text-align: center;
}

.chef-container {
  position: relative;
  overflow: visible;
  z-index: 0;
  background: url("./assets/knife.webp") 10% 0% / contain no-repeat;
  background-origin: content-box;
}

.section_container_facilities {
  background-image: url(./assets/olive.png);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about-us {
  background-image: url(./assets/olive-branch.svg);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.buttonandthanklyou {
  text-align: justify;
  max-width: 360px;
}

.foot-thank {
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  .section {
    padding: 3%;
  }

  .section__subscribe__container {
    flex-direction: row;
    align-items: center;
  }

  .subscribe__btn {
    margin: 0;
    text-align: center;
    min-width: 35%;
  }

  .section__img--dining {
    padding-bottom: 0;
  }

  .header__group {
    height: auto;
  }

  .section__container--footer {
    flex-direction: row;
    gap: 3rem;
    align-items: stretch;
    justify-content: space-between;
  }

  .footer__logo {
    flex-direction: row;
    height: 200px;
  }

  .footer__address {
    padding: 0;
  }

  .footer__btn__link {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  .section_contact_img {
    height: 70vh;
  }

  .footer__section__img {
    height: 100%;
  }

  .footer__address {
    font-size: 1rem;
    margin: 0 0 0 0.4rem;
    text-align: start;
    align-self: end;
    width: 120px;
  }

  .nav__btn--footer {
    max-width: 300px;
    align-self: center;
    margin: 0 auto;
  }

  .footer__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    place-items: end;
    height: 100%;
  }

  .chef-container {
    background-size: 35%;
    background-position: center top;
  }
  .nav__link--footer {
    padding: 0;
    margin: 0;
  }

  .buttonandthanklyou {
    flex-direction: column;
    display: flex;
  }

  .foot-note {
    letter-spacing: 3px;
  }
}

@media (min-width: 1000px) {
  .facilities-reverse {
  }
  .chef-container {
    background-size: 40%;
    background-position: center left;
  }

  .section__container {
    max-width: 1440px;
  }

  .header__logo {
    max-width: 340px;
  }

  .section__container {
    font-size: 1.6rem;
    padding: 6rem 4rem;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
  }
  .section__container--footer {
    align-items: stretch;
  }

  .section__img {
    width: 45%;
    margin: 0;
  }

  .section__location__img {
    width: 60%;
  }

  .section_contact_img {
    height: 70vh;
    left: 30vw;
  }

  .section__contact__container {
    justify-content: center;
  }

  .section__subscribe__container {
    margin: 4rem auto;
    width: clamp(800px, 60%, 1100px);
  }

  .section_container_facilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section__img--dining {
    width: 100%;
  }

  .header__nav {
    grid-area: navi;
    display: flex;
    width: auto;
    height: 100%;
    align-items: start;
    justify-content: center;
    text-align: center;
    font-size: var(--menu-font-size);
  }

  .header__img__container {
    grid-area: img;
  }

  .header {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: auto;
    grid-template-areas:
      "logo img"
      "navi img";
    overflow: hidden;
  }

  .header__logo {
    margin: 4rem auto;
    justify-self: center;
  }

  .header__btn__menu {
    display: none;
  }

  .section__contact__title {
    font-size: 2.5vw;
  }

  .section__contact__email {
    font-size: 5vw;
  }

  .form__olive-branch {
    scale: 120%;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}
